<h2 class="text-center"><u>Student List</u></h2><br/>
<div class="table-responsive">
<table class="table table-hover table-bordered table-striped ">
  <tr>
    <th>Student Name</th>
    <th>Student Branch</th>
    <th>Student Roll.No</th>
    <th>Student Percentage</th>
    <th>Edit OR Delete</th>
  </tr>
  <tr *ngFor="let student of studentList">
      <td>{{student.name}}</td>
      <td>{{student.branch|uppercase}}</td>
      <td>{{student.roll_no}}</td>
      <td>{{student.percentage}}%</td>
      <td>
        <a class="btn" (click)="onEdit(student)">
          <i title="Edit" title="Edit" class="fa fa-pencil-square-o"></i>
        </a>
        <a class="btn" (click)="onDelete(student.$key)">
          <i id="trash" title="Delete" class="fa fa-trash-o"></i>
        </a>
      </td>
  </tr>
</table>
</div>