input.ng-invalid.ng-dirty{
    border: 1.5px solid #D02906;
}
input.ng-valid{
    border:1.5px solid green;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.help-block{
    color:#D02906;
}